{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% load static %}

{% block new_record %}
    <div class="Container">
        <div class="header">
            <img src="{% static 'img/profile.png' %}" alt="profile">
            <div class="PageTitle">Add Record Page</div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input class="SubmitButton" type="submit" value="Add Record">
        </form>
    </div>
{% endblock %}